.individualItem {
  border-bottom: 1px solid #d6d6d6;
}

.numberWrap {
  width: 100%;
}

.submitBtn {
  text-align: center;
}

.container {
  padding: 20px;
}

.tableWrap {
  margin-top: 20px;
}

.formBtn {
  margin: 0 5px;
}

.pay {
  display: flex;
  justify-content: space-around;

  img {
    width: 20%;
    height: auto;
  }
}
